<!-- <div class="container">
  <div class="parentroom">
  <div class="sendMessages">
      <div class="msgToChild1">
        <label for="msgChild1">Message to Child:</label>
        <input type="text" [(ngModel)]="currentMsgToChild" name="msgChild1">
         <input type="text" [(ngModel)]="currentMsgToChild2">
        <button (click)="reset()">Reset</button>
      </div>
    </div>
    <div class="sendMessages">
    <div class="receivedMessages">
      <div class="child2">
        <p><b> Message from Child 2 (baby)</b><br> via @Output() and EventEmitter():</p>
        <p>{{ msg }}</p>
      </div>
    </div>
  </div>
  </div>

<app-child  [msgFromParent]='msgToChild2' (callParent)="getMsgFromBaby($event)" ></app-child>
</div> -->


<app-child2>

</app-child2>
<p> Current Count is: {{objname.count}}</p>

<button (click)="increment()">Increment</button>
<button (click)="decrement()">Decrement</button>
